run.exe
run2.exe
run
run2
in/*.in
./syc*.txt
circuit/*.txt
circuit/*.cut
circuit/*.map
peps_path/*.txt
peps_path/*.cut
peps_path/inputs.json
test.txt
text.txt
circuit.zip
output/*.txt
output/*.log
output/*.json
output/*.xlsx
output/*.zip
output/.~lock*
pushall.cmd
__pycache__
downloadCircuits.cmd
cp2circuit/*.json
mountSubmodule.sh
.venv